In [21]:
import pandas as pd
import seaborn as sns  # Seaborn is used for data visualization
import matplotlib.pyplot as plt  # Matplotlib is used for plotting graphs

#  Load datasets from CSV files
# The index_col="date" argument sets the 'date' column as the index for easier time-based operations
tokyo_weather = pd.read_csv('UncleanedDatasets/Tokyo.csv', index_col="date")
tokyo_weather

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
date
1/1/2016     4.8   0.0    11  0.00   NaN  318.0  11.9   NaN     NaN   NaN
2/1/2016     5.2   1.0    12  0.00   NaN  260.0   8.5   NaN     NaN   NaN
3/1/2016     7.3   0.0    17  0.00   NaN    NaN   5.5   NaN     NaN   NaN
4/1/2016     7.0   0.0    16  0.00   NaN    NaN   5.1   NaN     NaN   NaN
5/1/2016     7.7   0.0    14  0.00   NaN    NaN   6.6   NaN     NaN   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
28/12/2023   5.5   3.0     9  0.06   NaN  328.0  10.1   NaN  1024.4   NaN
29/12/2023   5.7  -1.0    13  0.00   NaN  322.0   6.1   NaN  1020.2   NaN
30/12/2023   7.5   2.0    15  0.00   NaN  324.0   7.0   NaN  1019.2   NaN
31/12/2023   8.2   5.0    12  6.00   NaN  299.0   6.3   NaN  1006.0   NaN
1/1/2024     8.1   3.0    12  0.00   NaN  346.0  13.6   NaN  1017.1   NaN

[2923 rows x 10 columns]

In [22]:
# Check for missing/null values in the combined dataset
tokyo_weather.apply(pd.isnull).sum()

tavg       0
tmin       0
tmax       0
prcp      60
snow    2923
wdir     180
wspd       0
wpgt    2923
pres     124
tsun    2923
dtype: int64

In [23]:
# Check for missing/null values percentage in the combined dataset
null_pct = tokyo_weather.apply(pd.isnull).sum()/tokyo_weather.shape[0]
null_pct

tavg    0.000000
tmin    0.000000
tmax    0.000000
prcp    0.020527
snow    1.000000
wdir    0.061581
wspd    0.000000
wpgt    1.000000
pres    0.042422
tsun    1.000000
dtype: float64

In [24]:
# Filter the columns where less than 50% of the data is missing
valid_columns = tokyo_weather.columns[null_pct < 0.5]

# Display the valid columns (optional, for review or debugging purposes)
valid_columns

Index(['tavg', 'tmin', 'tmax', 'prcp', 'wdir', 'wspd', 'pres'], dtype='object')

In [25]:
 # Create a new DataFrame that only includes the valid columns (those with less than 50% missing data)
tokyo_weather = tokyo_weather[valid_columns].copy()

# Display the updated combined dataset (optional, for review or debugging purposes)
tokyo_weather

            tavg  tmin  tmax  prcp   wdir  wspd    pres
date
1/1/2016     4.8   0.0    11  0.00  318.0  11.9     NaN
2/1/2016     5.2   1.0    12  0.00  260.0   8.5     NaN
3/1/2016     7.3   0.0    17  0.00    NaN   5.5     NaN
4/1/2016     7.0   0.0    16  0.00    NaN   5.1     NaN
5/1/2016     7.7   0.0    14  0.00    NaN   6.6     NaN
...          ...   ...   ...   ...    ...   ...     ...
28/12/2023   5.5   3.0     9  0.06  328.0  10.1  1024.4
29/12/2023   5.7  -1.0    13  0.00  322.0   6.1  1020.2
30/12/2023   7.5   2.0    15  0.00  324.0   7.0  1019.2
31/12/2023   8.2   5.0    12  6.00  299.0   6.3  1006.0
1/1/2024     8.1   3.0    12  0.00  346.0  13.6  1017.1

[2923 rows x 7 columns]

In [26]:
# Fill missing values in the 'pres' (pressure) column with the column's mean value
tokyo_weather['pres'] = tokyo_weather['pres'].fillna(tokyo_weather['pres'].mean())

# Fill missing values in the 'prcp' (precipitation) column with the column's mean value
tokyo_weather['prcp'] = tokyo_weather['prcp'].fillna(tokyo_weather['prcp'].mean())

# Fill missing values in the 'wdir' (wind direction) column with the column's mean value
tokyo_weather['wdir'] = tokyo_weather['wdir'].fillna(tokyo_weather['wdir'].mean())

tokyo_weather

            tavg  tmin  tmax  prcp        wdir  wspd         pres
date
1/1/2016     4.8   0.0    11  0.00  318.000000  11.9  1013.389961
2/1/2016     5.2   1.0    12  0.00  260.000000   8.5  1013.389961
3/1/2016     7.3   0.0    17  0.00  162.551221   5.5  1013.389961
4/1/2016     7.0   0.0    16  0.00  162.551221   5.1  1013.389961
5/1/2016     7.7   0.0    14  0.00  162.551221   6.6  1013.389961
...          ...   ...   ...   ...         ...   ...          ...
28/12/2023   5.5   3.0     9  0.06  328.000000  10.1  1024.400000
29/12/2023   5.7  -1.0    13  0.00  322.000000   6.1  1020.200000
30/12/2023   7.5   2.0    15  0.00  324.000000   7.0  1019.200000
31/12/2023   8.2   5.0    12  6.00  299.000000   6.3  1006.000000
1/1/2024     8.1   3.0    12  0.00  346.000000  13.6  1017.100000

[2923 rows x 7 columns]

In [27]:
tokyo_weather.apply(pd.isnull).sum()

tavg    0
tmin    0
tmax    0
prcp    0
wdir    0
wspd    0
pres    0
dtype: int64

In [28]:

# Select only the numeric columns for calculating IQR
numeric_cols = tokyo_weather.select_dtypes(include=['float64', 'int64']).columns

# Calculate Q1 (25th percentile) and Q3 (75th percentile) for numeric columns
Q1 = tokyo_weather[numeric_cols].quantile(0.25)
Q3 = tokyo_weather[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

# Define a filter to detect and remove outliers for numeric columns
outlier_filter = ~((tokyo_weather[numeric_cols] < (Q1 - 1.5 * IQR)) | (tokyo_weather[numeric_cols] > (Q3 + 1.5 * IQR)))

# Apply filter to remove rows with outliers in numeric columns
tokyo_weather_no_outliers = tokyo_weather[outlier_filter.all(axis=1)]

# Display to confirm outliers are removed
tokyo_weather_no_outliers.shape

(2379, 7)

In [29]:
tokyo_weather_no_outliers.to_csv('CleanedDatasets/Tokyo.csv', index="date")

In [30]:
import pandas as pd
import seaborn as sns  # Seaborn is used for data visualization
import matplotlib.pyplot as plt  # Matplotlib is used for plotting graphs

#  Load datasets from CSV files
# The index_col="date" argument sets the 'date' column as the index for easier time-based operations
bombay_weather = pd.read_csv('UncleanedDatasets/Bombay.csv', index_col="date")
bombay_weather

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
date
1/1/2016    28.6  15.7  35.3   0.0   NaN    NaN   6.3   NaN     NaN   NaN
2/1/2016    26.9  15.0  33.2   0.0   NaN    NaN   5.5   NaN     NaN   NaN
3/1/2016    25.8  13.2  32.3   0.0   NaN    NaN   5.5   NaN     NaN   NaN
4/1/2016    27.1  14.0  34.0   0.0   NaN    NaN   6.4   NaN  1015.3   NaN
5/1/2016    27.3  14.8  32.6   0.0   NaN    NaN   5.8   NaN  1014.4   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
28/12/2023  27.8  21.6  34.0   0.0   NaN   44.0   8.7   NaN  1013.3   NaN
29/12/2023  28.1  21.4  34.0   0.0   NaN   26.0   7.1   NaN  1013.3   NaN
30/12/2023  27.9  21.6  33.0   0.0   NaN  140.0   7.5   NaN  1012.8   NaN
31/12/2023  27.7  21.8  34.0   0.0   NaN   29.0   6.7   NaN  1012.3   NaN
1/1/2024    27.2  21.6  32.0   0.2   NaN  347.0   6.9   NaN  1012.6   NaN

[2923 rows x 10 columns]

In [31]:
# Check for missing/null values in the combined dataset
bombay_weather.apply(pd.isnull).sum()

tavg       0
tmin       0
tmax       9
prcp     127
snow    2923
wdir     373
wspd      10
wpgt    2923
pres      83
tsun    2923
dtype: int64

In [32]:
# Check for missing/null values percentage in the combined dataset
null_pct = bombay_weather.apply(pd.isnull).sum()/bombay_weather.shape[0]
null_pct

tavg    0.000000
tmin    0.000000
tmax    0.003079
prcp    0.043449
snow    1.000000
wdir    0.127609
wspd    0.003421
wpgt    1.000000
pres    0.028395
tsun    1.000000
dtype: float64

In [33]:
# Filter the columns where less than 50% of the data is missing
valid_columns = bombay_weather.columns[null_pct < 0.5]

# Display the valid columns (optional, for review or debugging purposes)
valid_columns

Index(['tavg', 'tmin', 'tmax', 'prcp', 'wdir', 'wspd', 'pres'], dtype='object')

In [34]:
 # Create a new DataFrame that only includes the valid columns (those with less than 50% missing data)
bombay_weather = bombay_weather[valid_columns].copy()

# Display the updated combined dataset (optional, for review or debugging purposes)
bombay_weather

            tavg  tmin  tmax  prcp   wdir  wspd    pres
date
1/1/2016    28.6  15.7  35.3   0.0    NaN   6.3     NaN
2/1/2016    26.9  15.0  33.2   0.0    NaN   5.5     NaN
3/1/2016    25.8  13.2  32.3   0.0    NaN   5.5     NaN
4/1/2016    27.1  14.0  34.0   0.0    NaN   6.4  1015.3
5/1/2016    27.3  14.8  32.6   0.0    NaN   5.8  1014.4
...          ...   ...   ...   ...    ...   ...     ...
28/12/2023  27.8  21.6  34.0   0.0   44.0   8.7  1013.3
29/12/2023  28.1  21.4  34.0   0.0   26.0   7.1  1013.3
30/12/2023  27.9  21.6  33.0   0.0  140.0   7.5  1012.8
31/12/2023  27.7  21.8  34.0   0.0   29.0   6.7  1012.3
1/1/2024    27.2  21.6  32.0   0.2  347.0   6.9  1012.6

[2923 rows x 7 columns]

In [35]:
# Fill missing values in the 'pres' (pressure) column with the column's mean value
bombay_weather['pres'] = bombay_weather['pres'].fillna(bombay_weather['pres'].mean())

# Fill missing values in the 'tmax' (Temperature Maximum) column with the column's mean value
bombay_weather['tmax'] = bombay_weather['tmax'].fillna(bombay_weather['tmax'].mean())

# Fill missing values in the 'prcp' (precipitation) column with the column's mean value
bombay_weather['prcp'] = bombay_weather['prcp'].fillna(bombay_weather['prcp'].mean())

# Fill missing values in the 'wdir' (wind direction) column with the column's mean value
bombay_weather['wdir'] = bombay_weather['wdir'].fillna(bombay_weather['wdir'].mean())

# Fill missing values in the 'wspd' (wind speed) column with the column's mean value
bombay_weather['wspd'] = bombay_weather['wspd'].fillna(bombay_weather['wspd'].mean())

bombay_weather

            tavg  tmin  tmax  prcp        wdir  wspd         pres
date
1/1/2016    28.6  15.7  35.3   0.0  221.196863   6.3  1008.763908
2/1/2016    26.9  15.0  33.2   0.0  221.196863   5.5  1008.763908
3/1/2016    25.8  13.2  32.3   0.0  221.196863   5.5  1008.763908
4/1/2016    27.1  14.0  34.0   0.0  221.196863   6.4  1015.300000
5/1/2016    27.3  14.8  32.6   0.0  221.196863   5.8  1014.400000
...          ...   ...   ...   ...         ...   ...          ...
28/12/2023  27.8  21.6  34.0   0.0   44.000000   8.7  1013.300000
29/12/2023  28.1  21.4  34.0   0.0   26.000000   7.1  1013.300000
30/12/2023  27.9  21.6  33.0   0.0  140.000000   7.5  1012.800000
31/12/2023  27.7  21.8  34.0   0.0   29.000000   6.7  1012.300000
1/1/2024    27.2  21.6  32.0   0.2  347.000000   6.9  1012.600000

[2923 rows x 7 columns]

In [36]:
bombay_weather.apply(pd.isnull).sum()

tavg    0
tmin    0
tmax    0
prcp    0
wdir    0
wspd    0
pres    0
dtype: int64

In [37]:

# Select only the numeric columns for calculating IQR
numeric_cols = bombay_weather.select_dtypes(include=['float64', 'int64']).columns

# Calculate Q1 (25th percentile) and Q3 (75th percentile) for numeric columns
Q1 = bombay_weather[numeric_cols].quantile(0.25)
Q3 = bombay_weather[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

# Define a filter to detect and remove outliers for numeric columns
outlier_filter = ~((bombay_weather[numeric_cols] < (Q1 - 1.5 * IQR)) | (bombay_weather[numeric_cols] > (Q3 + 1.5 * IQR)))

# Apply filter to remove rows with outliers in numeric columns
bombay_weather_no_outliers = bombay_weather[outlier_filter.all(axis=1)]

# Display to confirm outliers are removed
bombay_weather_no_outliers.shape

(2257, 7)

In [38]:
tokyo_weather_no_outliers.to_csv('CleanedDatasets/Bombay.csv', index="date")